.countryName-visit-container {
  display: flex;
}

.country-details {
  display: flex;
}

.country-items {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

.app-container {
  background-color: #161624;
}
